body{
   color: rgb(1, 255, 1);
}

/* inherit ფერს იღებს მემკვიდრეობიტ body_დან */
.me-class-1 a{
    color: inherit;
}

/* initial ნისნავს css_ში სტანდარტულ ფერს ესეიგი შავს */
.me-class-2 a{
    color: initial;
}

/* unset მოქმედებს 2_გვარად თუ ისეთ ფროფერტის 
დაუწერე unset რომელსაც მემკვიდრეობით გადმოეცემა 
ხოლმე მნიშვნელობა მაგ შემთხვევაში მემკვიდრეობით 
გადმოცემულ მნიშვნელობაზე აბრუნებს ფროფერთის  
მაგრამ თუ ისეთ ფროფერთისთან იხმარე unset რომელსაც 
მემკვიდრეობიტ ფიზიკურად ვერ გადმოეცემა
 მნიშვნელობა ამ შემთხვევაში unset მის სტანდარტულ
  მნიშვნელობაზე აბრუნებს ფროფერტის  ამ შემთხვევაში body გადმოეცა მემკვიდრეობით */
.me-class-3 a{
    color: unset;
}

div{
    background-color: red;
    border: 2px solid green;
}

/* unset მემკვიდრეობა არ აქ არც border და არც backgraund-color */
.fix-this{
    all: unset;
}

h2{
    color: gold;
}

/* !important  უფრო მნიშვნელოვანია ვიდრე style */
h3{
    color: rgb(81, 0, 255) !important;
}