div, span{
    border: 2px dashed darkblue;
    background-color: rgb(161, 137, 255);
}

.inline-blok{
    display: inline-block;
}

.Flex1{ 
    /* all: unset; ukana beckgraund aqrobs zedmets sadac ar aris sityvebi dawerili */
    all: unset;
    /* display: flex siganeze wevs yvelas da yvelawers */
    display: flex;
}

.Flex2{
    /* yvela scade */
    all: unset;
    display: flex;
        /* flex-direction: column;  display: block; gavs */
    /* flex-direction: column-reverse; ciprebs qvemodan zemot klebadobis mixedvit lagdeba ani 123456789 cvemodan zemot */
    /* flex-direction: row; standartuli porma marcxniva 123456789 */
    /* flex-direction: row-reverse; marjvena mxares gadaq div_i  da tan 987654321 sapirispirod */
    flex-direction: column-reverse;
}

.Flex3{
    all: unset;
    display: flex;
     /* flex-wrap: wrap; brauzeris dapataravebastan ertad misi svilebic pataravdeba */
    flex-wrap: wrap;
}

.Flex3 > *{
    width: 200px;
    height: 50px;
}

.Flex4{
    display: flex;
     /* flex-flow: row-reverse wrap-reverse; marqniv ogont tavis konteinersi eteba da 987654321 ase lagdena */
    /* flex-flow: column wrap; zemodan cvemot123456789 alagebs */
    /* flex-flow: column-reverse; cvemodan zemot alagebs ciprebs 123456789 */
    /* flex-flow: row-reverse; marqnidan marcxnidan 987654321 alagebda da marqniv gadaq bolomde */
    width: 250px;
    height: 260px;
    text-align: center;
}

.Flex5{
    text-align: center;
    display: flex;
}


.Flex5 > *{
    width: 250px;
    height: 250px;
}

.Flex6{
    /* yvela scade */
   display: flex;
   /* justify-content: flex-end; marqniv alagebs 123456789 ase */
   /* justify-content: flex-start; standartuli porma da marcxniv rceba123456789 */
    /* justify-content: center; centrsi agdens 123456789 */
   /* justify-content: space-between; anaweverebs magram kutxebs exeba */
   /* justify-content: space-evenly; anawevrebs magram kutxebs ar exeba */
   justify-content: space-evenly;
}

.Flex7{
      /* yvela mosinje */
      all: unset;
      background-color: rgb(255, 155, 118);
      display: flex;
       /* flex-wrap: wrap; xolo es ara aris  align-items: es aris flex-wrap: gaige es gegizia gamorto da carto yvela stvadasxva  */
       /* flex-wrap: wrap ro seurio align-items centrsi gadayris yvelas da danawevrebs zemot cvemot da svasic */
       height: 600px;
       /* align-items: stretch; mtlian divs ikavs 123456789 */
       /* align-items: baseline; */
       /* align-items: center; centrsi gadaqv 123456789 */
       /* align-items: flex-start; */
       /* justify-content: space-evenly; */
}

.Flex8{
    all: unset;
    background-color: rgb(132, 255, 132);
    display: flex;
    height: 480px;
    justify-content: space-evenly;

}

.Flex{
    width: 200px;
}

.Flex9{
    all: unset;
    background-color: rgba(220, 20, 60, 0.5);
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-items: center;
    justify-content: space-evenly;
    /* align-content: flex-start; zemot arian da akrobian aermanets */
    /* align-content: flex-end; cvemot camodis yvela divi magram ekroba ertmanets */
    /* align-content: center; centrsi arian da ekrobian ertmanets */
    /* align-content: space-between; ar ekrobian ertmanets da amastanave arc boxsis gverdebs */
    /* align-content: space-around; */
}

.Flex9{
    width: 200px;
}

.Flex10{
    all: unset;
    background-color: rgb(30, 255, 98);
    width: 600px;
    display: flex;
    align-items: flex-start;

}


.Flex10{
    flex-basis: 90px;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}