body{
    background-image: url("https://i.pinimg.com/originals/f6/17/98/f617986be50978afb82a46f910aaf16c.jpg");
    background-image: url("/Background\ \(20\).png");
    background-image: url("/favicon-novatori-100x100.png");
}